<%= form_for worksheet do |f| %>
  <%= form_text_input f, :text_field, :name, hint: 'Give the worksheet a name so you can easily find it later.', autofocus: true, class: 'xlarge' %>
  <%= form_text_input f, :text_area, :narrative, hint: 'Describe what the set of transactions is demonstrating. The description should be in Markdown format, and just to be on the safe side, we will escape any horrible HTML you decide to insert.' %>

  <div class="actions">
    <%= f.submit worksheet.new_record? ? "Create worksheet" : "Update worksheet details", class: 'btn primary' %>
    <%= link_to 'Cancel', worksheets_path, class: 'btn' %>
  </div>
<% end %>
