<%= simple_form_for worksheet do |f| %>
  <fieldset>
    <legend>Worksheet details</legend>

    <p>
      <%= f.label :name %> <%= f.error :name %><br>
      <%= f.input_field :name, :placeholder => 'Worksheet name', :class => 'title' %><br>
      <%= f.hint 'Give the worksheet a name so you can easily find it later.' %>
    </p>

    <p>
      <%= f.label :narrative %> <%= f.error :narrative %><br>
      <%= f.input_field :narrative %><br>
      <%= f.hint 'Describe what the set of transactions is demonstrating.' %>
    </p>

    <%= f.submit %>
  </fieldset>
<% end %>
