<header>
  <h1>Worksheets</h1>
</header>

<p>
  Here's a list of all your worksheets. Pick one to see it, or create a new
  one.
</p>

<%= paginate @worksheets %>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @worksheets.each do |worksheet| %>
      <tr>
        <td><%= link_to worksheet.name, worksheet %></td>
        <td><%= markdown worksheet.narrative %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @worksheets %>

<p><%= link_to "Create a new worksheet", new_worksheet_path, class: 'btn primary' %></p>