<h2>Change your password</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.input :reset_password_token, :as => :hidden %>

  <fieldset>
    <legend>Password</legend>

    <p>
      <%= f.label :password, label: 'New password' %> <%= f.error :password %><br>
      <%= f.input_field :password %><br>
      <%= f.hint 'Choose a password. Keep it a secret!' %>
    </p>

    <p>
      <%= f.label :password_confirmation, label: 'Confirm your new password' %> <%= f.error :password_confirmation %><br>
      <%= f.input_field :password_confirmation %><br>
      <%= f.hint 'Confirm your password, just to make sure you have typed it correctly.' %>
    </p>
  </fieldset>

  <%= f.submit "Change my password" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
