<h2>Forgot your password?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <fieldset>
    <p>
      <%= f.label :email %> <%= f.error :email %><br>
      <%= f.input_field :email %><br>
      <%= f.hint 'Let us know your email address. We will send password reset instructions to your address.' %>
    </p>
  </fieldset>

  <p><%= f.submit "Send me reset password instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>