<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
    <p>
      <%= f.label :email %><br>
      <%= f.input_field :email %>
    </p>

    <p>
      <%= f.label :password %><br>
      <%= f.input_field :password %>
    </p>

    <p>
      <%= f.input_field :remember_me, as: :boolean %> <%= f.label :remember_me %>
    </p>
  </fieldset>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>