<tr>
  <td><%= transaction.dated_on.to_s(:rfc822) %></td>
  <td>
    <strong><%= transaction.description %></strong><br>
    <%= transaction.credit_account.name %> &rarr;
    <%= transaction.debit_account.name %>
  </td>
  <td class="currency"><%= number_to_currency transaction.amount %></td>
  <td>
    <%= link_to 'Edit', edit_worksheet_transaction_path(@worksheet, transaction), class: 'btn primary small' %>
    <%= link_to 'Delete', worksheet_transaction_path(@worksheet, transaction), class: 'btn danger small', method: :delete, confirm: 'Are you sure you want to delete this transaction?' %>
  </td>
</tr>
